body {
  background-color: #c4c4c4;
  font-family: Tahoma, Geneva, sans-serif;
}

#buttonWrapper {
  width: 100%;
  height: 50px;
}

#adminbutton {
  margin: 10px 10px 0 0;
  float: right;
}

#please {
  margin-top: 7rem;
  text-align: center;
  font-size: 100px;
}

#cardlogo {
  width: auto;
  height: 200px;
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

/* adminlogin */

#loginWrapper {
  margin-top: 100px;
  display: grid;
  place-items: center;
}

#loginBox {
  padding: 40px 50px 20px 50px;
  text-align: center;
  border: 1px solid black;
}

.normalInput {
  height: 30px;
  width: auto;
  margin-top: 10px;
}

#submitButton {
  height: 40px;
  width: 100px;
  margin-top: 30px;
}

label {
  display: inline-block;
  margin-top: 20px;
}

#idInput {
  float: right;
}


/* admin panel */

.actionStudent
{
  width: auto;
  height: auto;
  border: none;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.editStudent
{
  background-image: url('edit.svg');
}
.removeStudent
{
background-image: url("remove.svg");
}

.actionStudent:hover
{
cursor: pointer;
}

/* Remove arrows from number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
