body {
  background-image: linear-gradient(to bottom right, #70db70 20%, #0066ff 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Tahoma, Geneva, sans-serif;
  cursor: default;
}

#buttonWrapper {
  width: 100%;
  height: 50px;
}

#adminbutton {
  margin: 10px 10px 0 0;
  float: right;
  background: none;
  border: 2px solid #70db70;
  border-radius: 4px;
  transition-duration: 0.6s;
}

#adminbutton:hover {
  background: #70db70;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#please {
  margin-top: 8%;
  text-align: center;
  font-size: 600%;
}

#cardlogo {
  width: auto;
  height: 450px;
  display: block;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

/* adminlogin */
/*and other buttons and textfields*/

#loginWrapper {
  margin-top: 100px;
  display: grid;
  place-items: center;
}

#loginBox {
  padding: 40px 50px 20px 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

#statusBox
{
  margin-top: 50px;
  padding: 40px 50px 20px 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.normalInput {
  height: 30px;
  width: auto;
  border: 2px solid black;
  background: none;
  margin-top: 10px;
  cursor: text;
}

.normalInput:focus {
  background: white;
}

#submitButton {
  height: 30px;
  width: auto;
  background: none;
  border: 2px solid black;
  margin-top: 30px;
  background-image: linear-gradient(to bottom right, #2b93c8 20%, #2087d6 90%);
}

#submitButton:hover {
  background: #70db70;
  border: 2px solid #70db70;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#submitButton:disabled {
  color: black;
  cursor: not-allowed;
}

label {
  display: inline-block;
  margin-top: 20px;
}

#idInput {
  float: right;
}


/* admin panel */

.nicelook
{
  margin-top: 15px;
  border: 2px solid black;
  text-align: center;
  width: 450px;
  border-radius: 10px;
  background-color: white;
}

.nicelook td, .nicelook2 td, .nicelook3 td
{
  padding: 10px;
}

.nicelook th, .nicelook2 th, .nicelook3 th
{
  font-weight: normal;
}

.nicelook2
{
  margin-top: 10px;
  border: 2px solid black;
  text-align: center;
  padding: 5px;
  width: auto;
  border-radius: 10px;
  background-color: white;
}

.nicelook3
{
  text-align: center;
  padding: 5px;
  width: auto;
  display: flex;
  justify-content: center;
}

.hideOn {
  margin: 0 auto;
  display: none;
}

.hideOff {
  margin: 0 auto;
  display: block;
}

#nostudents
{
  margin: 25px 0 25px 0;
  font-size: 1.5rem;
}

#panelButton {
  height: 30px;
  width: auto;
  background: none;
  border: 2px solid black;
  margin-top: 10px;
}

#panelButton:hover {
  background: #70db70;
  border: 2px solid #70db70;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#showHideButton {
  height: 30px;
  width: auto;
  background: none;
  border: 2px solid black;
  margin-top: 10px;
}

#showHideButton:hover {
  background: #70db70;
  border: 2px solid #70db70;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.actionButton
{
  width: auto;
  height: auto;
  float: left;
  border: none;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.actionButton:hover
{
cursor: pointer;
}

.lessonButtonCell
{
  display: table-cell;
}

.editButton
{
  background-image: url('edit.svg');
}

.removeButton
{
background-image: url("remove.svg");
}

.editButtonLesson
{
padding-left: 20%;
}

.removeButtonLesson
{
float: right;
padding-right: 20%;
}

/* edit lesson */

.statusSelect
{
  line-height: 1.3;
  padding: .6em 2em .5em .8em;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('chevron-down.svg'),linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .75em auto, 100%;
}

.statusSelect:hover
{
  cursor: pointer;
}

/* remove arrows from number input field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
